<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dhouglaslombello.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dhouglaslombello</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dhouglaslombello</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CustomerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:apkdu4y2wr.database.windows.net,1433;Initial Catalog=dhouglaslombello406;User ID=dodsddragon@apkdu4y2wr;Password=I@gained1" Name="Data Source=tcp:apkdu4y2wr.database.windows.net,1433;Initial Catalog=dhouglaslombello406;User Id=dodsddragon@apkdu4y2wr;Password=I@gained1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExemploMVC.Models.CustomerContext, ExemploMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExemploMVC.Models.ApplicationDbContext, ExemploMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CustomerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:apkdu4y2wr.database.windows.net,1433;Initial Catalog=dhouglaslombello406;User Id=dodsddragon@apkdu4y2wr;Password=I@gained1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>